/* Block3.module.scss */

@import '@/app/variables.module.scss';

.block3 {
  height: 100vh;
  color: $text-color-primary;
  background-color: $background-color;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  padding: 230px 30px;
  letter-spacing: -0.05em;

  .text {
    font-weight: 300;
    font-size: 80px;
    line-height: 90px;

    margin-bottom: 60px;

    span {
      will-change: opacity;
    }
  }
  p {
    margin: 0.5em 0;

    font-weight: 400;
    font-size: 25px;
    line-height: 35px;

    color: $text-color-secondary;
  }
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
}
