/* Block3.module.scss */

@import '@/app/variables.module.scss';

.block3 {
  color: $text-color-primary;
  top: 0;

  .text {
    font-weight: 300;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -0.05em;

    margin-bottom: 60px;
  }
  p {
    margin: 0.5em 0;
  }
}
